/*
custom styles
*/
/*
Different icons being used
fa fa-times-circle-o
fa fa-close
fa fa-navicon
fa fa-angle-double-right
fa fa-angle-double-left
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');



/* General */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 99%;
    height: auto;
    padding: 15px;
    position: relative;
    margin: 0 5px; 
}

/* start page */

/* header */

.logo {
    max-height: 150px;
    max-width: 600px;
    position: relative;
    padding-left: 200px;
    
}

.nav-btn {
    position: absolute;
    top: 20%;
    right: 5%;
    font-size:28px
}

/* main content */

.title {
    text-align: center;
}

.char-selector {
    position: relative;
}

.char-selector h3 {
    position: absolute;
    top: 5%;
    left: 35%;
}

.char {
    position: absolute;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.char:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336), 0 6px 20px 0 rgba(0, 0, 0, 0.301);
    height: 195px;
    width: 160px;
}

#selInfo {
    margin-left: 35%;
}

.optionsContainer {
    position: relative;
    width: 525px;
    height: 200px;
    left: 25%;
    border: 3px solid black;
}

.storySelection1 {
    position: absolute;
    top: 25px;
    left: 35%;
    width: 250px;
    height: 60px;
    border: 3px solid blue;
}

.storySelection1 h2 {
    margin: 10px 0 0 0;
}

.storySelection2 {
    position: absolute;
    bottom: 25px;
    left: 35%;
    width: 250px;
    height: 60px;
    border: 3px solid red;
}

.storySelection2 h2 {
    margin: 10px 0 0 0;
}

/* animations */

.c1 {
    border: 2px solid #66f52e;
    top: 800px;
    left: 10%;
    -webkit-animation-name: c1Movement;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
    animation-name: c1Movement;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.c2 {
    border: 2px solid rgb(255, 8, 8);
    top: 800px;
    left: 30%;
    -webkit-animation-name: c2Movement;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation-name: c2Movement;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.c3 {
    border: 2px solid rgb(66, 16, 204);
    top: 800px;
    left: 70%;
    -webkit-animation-name: c3Movement;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 3s; /* Safari 4.0 - 8.0 */
    animation-name: c3Movement;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes c1Movement {
    from {top: 800px;}
    to {top: 75px; left: 25%; }
}

@keyframes c1Movement {
    from {top: 800px;}
    to {top: 75px; left: 25%; }
}

@-webkit-keyframes c2Movement {
    from {top: 800px;}
    to {top: 90px; left: 40%; }
}

@keyframes c2Movement {
    from {top: 800px;}
    to {top: 90px; left: 40%; }
}

@-webkit-keyframes c3Movement {
    from {top: 800px;}
    to {top: 75px; left: 55%; }
}

@keyframes c3Movement {
    from {top: 800px;}
    to {top: 75px; left: 55%; }
}

/* Story page */

.pageContainer {
    width: 97vw;
    height: 90vh;
    padding: 15px;
    border-style: solid;
    position: relative;
    margin: 0 5px; 
}

.sentance {
    text-align: center;
    width: 100%;
    position: absolute;
}

.charBumblebee {
    position: absolute;
    top: 400px;
    left: 120px;
}

.back {
    position: absolute;
    font-size: 1.8em;
    top: 50%;
    left: 15px;
}

.forward {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 1.8em;
}

.option1 {
    position: absolute;
    top: 50%;
    right: 30%;
    border: 3px solid green;
    padding: 15px;
    font-size: 24px;
}

.option2 {
    position: absolute;
    top: 50%;
    left: 30%;
    border: 3px solid blue;
    padding: 15px;
    font-size: 24px;
}

/* animations */

.beeFly {
    position: absolute;
    top: 300px;
    left: 120px;
    -webkit-animation-name: fly;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-direction: forwards; /* Safari 4.0 - 8.0 */
    animation-name: fly;
    animation-duration: 6s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fly {
    0% {top: 300px; left: 120px;}
    25% { top: 450px; }
    100% {top: 200px; left: 1600px;}
}

@keyframes fly {
    0% {top: 300px; left: 120px;}
    25% { top: 450px; }
    100% {top: 200px; left: 1600px;}
}
